<section ng-class="{ loading: !$ctrl.grid }">
    <h2>Topo</h2>
    <div id="topoPlot" class="row"></div>

    <!--<section class="topoplot-wrapper">-->

      <!--&lt;!&ndash;<article class="topoplot-c1 top left"></article>&ndash;&gt;-->
      <!--&lt;!&ndash;<article class="topoplot-c2 top right"></article>&ndash;&gt;-->
      <!--&lt;!&ndash;<article class="topoplot-c3 middle left"></article>&ndash;&gt;-->
      <!--&lt;!&ndash;<article class="topoplot-c4 middle right"></article>&ndash;&gt;-->
      <!--&lt;!&ndash;<article class="topoplot-c5 third left"></article>&ndash;&gt;-->
      <!--&lt;!&ndash;<article class="topoplot-c6 third right"></article>&ndash;&gt;-->
      <!--&lt;!&ndash;<article class="topoplot-c7 bottom left"></article>&ndash;&gt;-->
      <!--&lt;!&ndash;<article class="topoplot-c8 bottom right"></article>&ndash;&gt;-->

        <!---->
      <!--&lt;!&ndash;<aside class="topoplot-grid">&ndash;&gt;-->

        <!--&lt;!&ndash;<div ng-repeat="pixel in $ctrl.grid track by $index" ng-style="$ctrl.getColor($index,pixel,$ctrl.grid)" ng-class="$ctrl.getClass($index)"></div>&ndash;&gt;-->
      <!--&lt;!&ndash;</aside>&ndash;&gt;-->

    <!--</section>-->
</section>
